@media all {
    /** css reset **/
    *:where(:not(iframe, canvas, img, svg, video, ol, button):not(svg *)) {    
        all: unset;    
        display: revert;
    }
    /* Preferred box-sizing value */
    *,
    *::before,
    *::after {    
        box-sizing: border-box;
    }
    /* For images to not be able to exceed their container */
    img {    
        max-width: 100%;
    }

    /* System Fonts with system-ui */
    body {
        font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    
    /** Site Styles **/
    body {
        display: grid;
        min-height: 100vh;
        min-height: 100svh;
        grid-template: 
        'header header header' auto
        '. main .' 1fr
        'footer footer footer' auto;
    }
    button {
        padding: 1rem;
    }
    header {
        grid-area: header;
        background-color: #f0f0f0;
        padding: 1rem;
        text-align: center;
    }
    main {
        grid-area: main;
        padding: 1rem;
        text-align: center;
    }
    footer {
        grid-area: footer;
        background-color: #f0f0f0;
        padding: 1rem;

    }
    .logo > img {
        width: 200px;
    }
    h2 {
        font-size: 1.5rem;
    }
    section {
        margin: 1rem;
    }
    button {
        margin: 0.5rem;
        padding: 2rem;
    }
}

@media screen and (min-width: 1026px) {
   button {
    padding: 0.75rem;
   }
}
